.slideView > img {
    width:100%;
}
.uk-overlay {
    display:block;
}
@media (min-width: 960px) {
    .uk-grid-width-large-1-4 > * {
        width: 25%;
    }
}

@media (min-width: 768px) and (max-width: 960px) {
    .uk-grid-width-medium-1-4 > * {
        width: 50%;
    }
}

#playList-slide {
    height:300px;
}

.slideView > img {
    height:250px;
    cursor:pointer;
}

.uk-slidenav {
    color:white;
}

.uk-dotnav > .uk-active > * {
    background: rgba(100, 100, 100, 1);
    background: rgba(100, 100, 100, 1);
}

.uk-dotnav > * > * {
    background: rgba(50, 50, 50, 0.7);
}

.mv-container {
    position: absolute;
    display: none;
    width: 100%;
    top: 0px;
    height: 100%;
    z-index: 1000;
}

.mv-video {
    width: 100%;
    height: 100%;
    position: absolute;
}

.mv-cancel {
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 3000;
    cursor: pointer;
}

.mv-heart {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 3000;
    cursor: pointer;
}

#playList {
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: none;
}

#next-container {
    display:none;
    background-size:100% 100%;
    height: 100%;
    width:100%;
}

@media(max-width: 1960px) {
    .nc-story {
        width:40%;
    }
}
@media(max-width: 768px) {
    .nc-story {
        width:50%;
    }
}
@media(max-width: 480px) {
    .nc-story {
        width:100%;
    }
}

.nc-play-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    height: 40%;
    cursor: pointer;
    text-align: right;
    right: 0;
}

.nc-title {
    padding-top: 20px;
}

.nc-timer-panel {
    position: absolute;
    right: 0px;
    margin-top: 10px;
}

@media(max-width: 1960px) {
    .nc-play-icon {
        width: 65%;
        font-size: 150px;
    }
}
@media(max-width: 768px) {
    .nc-play-icon {
        width: 60%;
        font-size: 120px;
    }
}


@media(max-width: 480px) {
    .nc-play-icon {
        width:50%;
        text-align:center;
    }
}

@media(max-width: 1960px) {
    .nc-play-img {
        width: 50%;
    }
}

@media(max-width: 768px) {
    .nc-play-img {
        width: 60%;
    }
}

@media(max-width: 480px) {
    .nc-play-img {
        width: 100%;
    }
}

@media(max-width: 480px) {
    .slideView {
        padding-left:0px;
    }
    #playList-slide {
        margin-left:0px;
    }
    #playList {
        margin-left:0px;
    }

    #playList > * {
        padding-left:0px;
    }
}

.mv-container p {
    padding-bottom:10px;
}

.mv-container h3 {
    padding-top:15px;
}

.video-start-date {
    float: right;
}

.uk-icon-heart {
    color:red;
}